In [1]:
import pandas as pd
from ast import literal_eval
import seaborn as sns
import numpy as np


movies_metadata = pd.read_csv("data/movies_metadata.csv")
links_small  = pd.read_csv("data/links_small.csv")
movies_keywords  = pd.read_csv("data/keywords.csv")

links_small = links_small[links_small['tmdbId'].notnull()]["tmdbId"].astype('int')
movies_metadata_small = movies_metadata[movies_metadata['id'].isin(links_small.astype('str'))]

movies_metadata_small.shape

C:\Users\C402\AppData\Local\Temp\ipykernel_4216\899638192.py:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("data/movies_metadata.csv")

(9099, 24)

In [2]:
movies_keywords['id'] = movies_keywords['id'].astype('str') # int -> str

In [3]:
movies_metadata_small = movies_metadata_small.merge(movies_keywords,on='id')
movies_metadata_small.shape

(9151, 25)

In [18]:
movies_metadata_small.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [4]:
movies = movies_metadata_small[['id','title','genres','keywords', 'overview','popularity', 'release_date']]

In [21]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9151 entries, 0 to 9150
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9151 non-null   object
 1   title         9151 non-null   object
 2   genres        9151 non-null   object
 3   keywords      9151 non-null   object
 4   overview      9139 non-null   object
 5   popularity    9151 non-null   object
 6   release_date  9151 non-null   object
dtypes: object(7)
memory usage: 500.6+ KB

In [5]:
movies['str_genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: sorted(i['name'] for i in x) if isinstance(x, list) else []) \
    .apply(lambda x: ', '.join(x) if len(x) > 0 else None)

C:\Users\C402\AppData\Local\Temp\ipykernel_4216\1064822825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['str_genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: sorted(i['name'] for i in x) if isinstance(x, list) else []) \

In [23]:
movies.head()

,id,title,genres,keywords,overview,popularity,release_date,str_genres
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,"Animation, Comedy, Family"
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,"Adventure, Family, Fantasy"
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,11.7129,1995-12-22,"Comedy, Romance"
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,"Comedy, Drama, Romance"
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,8.387519,1995-02-10,Comedy

In [6]:
movies['str_keywords'] = movies['keywords'].fillna('[]').apply(literal_eval).apply(lambda x: sorted(i['name'] for i in x) if isinstance(x, list) else []) \
    .apply(lambda x: ', '.join(x) if len(x) > 0 else None)

C:\Users\C402\AppData\Local\Temp\ipykernel_4216\2204786397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['str_keywords'] = movies['keywords'].fillna('[]').apply(literal_eval).apply(lambda x: sorted(i['name'] for i in x) if isinstance(x, list) else []) \

In [25]:
movies.head()

,id,title,genres,keywords,overview,popularity,release_date,str_genres,str_keywords
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,"Animation, Comedy, Family","boy, boy next door, friends, friendship, jealo..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,"Adventure, Family, Fantasy","based on children's book, board game, disappea..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,11.7129,1995-12-22,"Comedy, Romance","best friend, duringcreditsstinger, fishing, ol..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,"Comedy, Drama, Romance","based on novel, chick flick, divorce, interrac..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,8.387519,1995-02-10,Comedy,"aging, baby, confidence, contraception, daught..."

In [7]:
def get_genres_keysord_overview(row):
    return f"""
    genres:
    {row['str_genres']}

    keywords:
    {row['str_keywords']}

    overview:
    {row['overview']}

    """

In [8]:
movies['genres_keysord_overview'] = movies.apply(lambda row: get_genres_keysord_overview(row), axis=1)

C:\Users\C402\AppData\Local\Temp\ipykernel_4216\184010641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres_keysord_overview'] = movies.apply(lambda row: get_genres_keysord_overview(row), axis=1)

In [9]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
movies['year'] = movies['release_date'].dt.year

movies['popularity'] = movies['popularity'].astype(float)
movies['popularity_log'] = np.log(movies['popularity'])

movies = movies.dropna().reset_index(drop=True)

C:\Users\C402\AppData\Local\Temp\ipykernel_4216\56234329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
C:\Users\C402\AppData\Local\Temp\ipykernel_4216\56234329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['year'] = movies['release_date'].dt.year
C:\Users\C402\AppData\Local\Temp\ipykernel_4216\56234329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['popularity'] = movies['popularity'].astype(float)
C:\Users\C402\AppData\Local\Temp\ipykernel_4216\56234329.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['popularity_log'] = np.log(movies['popularity'])

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8368 entries, 0 to 8367
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       8368 non-null   object
 1   title                    8368 non-null   object
 2   genres                   8368 non-null   object
 3   keywords                 8368 non-null   object
 4   overview                 8368 non-null   object
 5   popularity               8368 non-null   float64
 6   release_date             8368 non-null   datetime64[ns]
 7   str_genres               8368 non-null   object
 8   str_keywords             8368 non-null   object
 9   genres_keysord_overview  8368 non-null   object
 10  year                     8368 non-null   int32
 11  popularity_log           8368 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(8)
memory usage: 751.9+ KB

In [4]:
import pandas as pd
import os

file_path = './data/movies_dataset.csv'

if os.path.exists(file_path):
    movies = pd.read_csv(file_path)
    print("‚úÖ ÎìúÎùºÏù¥Î∏åÏóêÏÑú Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏôîÏäµÎãàÎã§.")
else:
    movies.to_csv(file_path, index=False)
    print("üÜï ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏùÑ ÏÉùÏÑ±ÌïòÍ≥† ÎìúÎùºÏù¥Î∏åÏóê Ï†ÄÏû•ÌñàÏäµÎãàÎã§.")

‚úÖ ÎìúÎùºÏù¥Î∏åÏóêÏÑú Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏôîÏäµÎãàÎã§.

In [3]:
import torch
print(torch.cuda.is_available())  # TrueÍ∞Ä ÎÇòÏôÄÏïº Ìï©ÎãàÎã§.
print(torch.__version__)
print(torch.version.cuda) # CUDA Î≤ÑÏ†ÑÏù¥ Ï∂úÎ†•ÎêòÎäîÏßÄ ÌôïÏù∏ (NoneÏù¥Î©¥ CPU Ï†ÑÏö© Î≤ÑÏ†Ñ)

True
2.7.1+cu118
11.8

## LLM Í∏∞Î∞ò Contents Based Filtering

In [2]:
from transformers import BertTokenizer, BertModel
import torch # transformers ÏÇ¨Ïö©ÏùÑ ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
model_name = 'bert-base-uncased'

In [1]:
# ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†Ä(Tokenizer) : ÌÖçÏä§Ìä∏Î•º Î™®Îç∏Ïù¥ Ï≤òÎ¶¨Ìï† Ïàò ÏûàÎäî Ïà´Ïûê(ID)Î°ú Î∞îÍæ∏Îäî Îã§Î¶¨ Ïó≠Ìï†
import os
from transformers import BertTokenizer

model_name = 'bert-base-uncased'
save_path = './my_tokenizer'  # Ï†ÄÏû•Ìï† ÎîîÎ†âÌÜ†Î¶¨ Í≤ΩÎ°ú

# 1. Í≤ΩÎ°úÏóê ÌååÏùºÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏
if os.path.exists(save_path) and os.listdir(save_path):
    # ÌååÏùºÏù¥ ÏûàÏúºÎ©¥ Î°úÏª¨ÏóêÏÑú Î°úÎìú
    print("Î°úÏª¨ÏóêÏÑú ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†ÄÎ•º Î∂àÎü¨ÏòµÎãàÎã§.")
    tokenizer = BertTokenizer.from_pretrained(save_path)
else:
    # ÌååÏùºÏù¥ ÏóÜÏúºÎ©¥ Ïò®ÎùºÏù∏ÏóêÏÑú Îã§Ïö¥Î°úÎìú ÌõÑ Ï†ÄÏû•
    print("ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†ÄÎ•º ÏÉàÎ°ú Îã§Ïö¥Î°úÎìúÌïòÍ≥† Ï†ÄÏû•Ìï©ÎãàÎã§.")
    tokenizer = BertTokenizer.from_pretrained(model_name)
    
    # ÎîîÎ†âÌÜ†Î¶¨Í∞Ä ÏóÜÏúºÎ©¥ ÏÉùÏÑ± ÌõÑ Ï†ÄÏû•
    os.makedirs(save_path, exist_ok=True)
    tokenizer.save_pretrained(save_path)

c:\hak\kdev\03python\02code\02contentbow\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Î°úÏª¨ÏóêÏÑú ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†ÄÎ•º Î∂àÎü¨ÏòµÎãàÎã§.

In [27]:
sentence = "Transformers are amazing"
tokens = tokenizer(sentence)
tokens

{'input_ids': [101, 19081, 2024, 6429, 102], 'token_type_ids': [0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1]}

In [28]:
# ids = IDs
tokens_ids = tokenizer.convert_tokens_to_ids(tokenizer.tokenize(sentence))
tokens_ids

[19081, 2024, 6429]

In [45]:
encoded = tokenizer(sentence,return_tensors='pt')
encoded

{'input_ids': tensor([[  101, 19081,  2024,  6429,   102]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1]])}

In [48]:
input_ids = encoded['input_ids'][0]
input_ids

tensor([  101, 19081,  2024,  6429,   102])

In [49]:
decoded_sentence = tokenizer.decode(input_ids)
decoded_sentence

'[CLS] transformers are amazing [SEP]'

In [9]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f"ÌòÑÏû¨ ÏÇ¨Ïö© Ï§ëÏù∏ Ïû•Ïπò: {device}")

ÌòÑÏû¨ ÏÇ¨Ïö© Ï§ëÏù∏ Ïû•Ïπò: cuda

In [ ]:
model = BertModel.from_pretrained(model_name)
model.to(device)
model.eval()  # ÌèâÍ∞Ä Î™®ÎìúÎ°ú ÏÑ§Ï†ï (ÌïôÏäµÏù¥ ÏïÑÎãå Ï∂îÎ°†Ïö©)

In [16]:
# Î≤°ÌÑ∞(ÏûÑÎ≤†Îî©)Î•º Ï∂îÏ∂ú
def get_bert_embedding(text):
    inputs = tokenizer(text, return_tensors='pt', truncation=True, padding=True) # PyTorch ÌÖêÏÑúÎ°ú Î∞òÌôò
    # ÏûÖÎ†•ÏùÑ Î™®Îç∏Ïù¥ ÏûàÎäî Ïû•Ïπò(GPU)Î°ú Ïù¥Îèô
    # inputs = {k: v.to(device) for k, v in inputs.items()}
    inputs = inputs.to(device)
    with torch.no_grad():  # Í∑∏ÎûòÎîîÏñ∏Ìä∏ Í≥ÑÏÇ∞ ÎπÑÌôúÏÑ±Ìôî
        outputs = model(**inputs) ## Î™®Îç∏Ïóê ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÎã¨ÌïòÏó¨ Ï∂úÎ†• ÌöçÎìù.  **Îäî "ÎîïÏÖîÎÑàÎ¶¨ Ïñ∏Ìå®ÌÇπ(Dictionary Unpacking)" Ïó∞ÏÇ∞Ïûê
    return outputs.last_hidden_state[:,0,:].squeeze().cpu().numpy()  # [Î∞∞Ïπò ÌÅ¨Í∏∞, ÏãúÌÄÄÏä§ Í∏∏Ïù¥, ÌûàÎì† ÌÅ¨Í∏∞]ÏóêÏÑú Ï≤´ Î≤àÏß∏ ÌÜ†ÌÅ∞([CLS])Ïùò ÏûÑÎ≤†Îî© Î∞òÌôò

In [7]:
movies['genres_keysord_overview']

0       \n    genres:\n    Animation, Comedy, Family\n...
1       \n    genres:\n    Adventure, Family, Fantasy\...
2       \n    genres:\n    Comedy, Romance\n\n    keyw...
3       \n    genres:\n    Comedy, Drama, Romance\n\n ...
4       \n    genres:\n    Comedy\n\n    keywords:\n  ...
                              ...
8363    \n    genres:\n    Action, Adventure, Animatio...
8364    \n    genres:\n    Adventure, Animation, Famil...
8365    \n    genres:\n    Adventure, Animation, Famil...
8366    \n    genres:\n    Comedy, Drama\n\n    keywor...
8367    \n    genres:\n    Comedy, Drama\n\n    keywor...
Name: genres_keysord_overview, Length: 8368, dtype: object

In [17]:
from tqdm import tqdm
tqdm.pandas()
movies['embedding'] = movies['genres_keysord_overview'].progress_apply(get_bert_embedding)
# cpu : 8it/s
# gpu : 40it/s

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8368/8368 [03:48<00:00, 36.63it/s]

In [18]:
# ÌòÑÏû¨ ÏÇ¨Ïö© Ï§ëÏù∏ GPUÏùò Î©îÎ™®Î¶¨ Ï†êÏú†Ïú® ÌôïÏù∏
print(f"Allocated: {torch.cuda.memory_allocated(0) / 1024**2:.1f}MB")
print(f"Cached: {torch.cuda.memory_reserved(0) / 1024**2:.1f}MB")

Allocated: 427.2MB
Cached: 478.0MB

In [ ]:
all_embeddings = movies['embedding'].values.tolist()

In [62]:
import numpy as np

all_embeddings = np.array(all_embeddings)
all_embeddings.shape

(8368, 768)

In [63]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_of_overview = cosine_similarity(all_embeddings,all_embeddings)
similarity_of_overview.shape

(8368, 8368)

In [64]:
sorted_similarity_of_overview = similarity_of_overview.argsort()[:,::-1]

In [65]:
def recom(title_name,top_k=30):
    movie_of_title = movies[movies['title'] == title_name]
    print(f'{title_name}Ïùò Ïû•Î•¥ : {movie_of_title['str_genres'].values[0]}')

    movies_index_of_title = movie_of_title.index.values[0]

    similar_indexes = sorted_similarity_of_overview[movies_index_of_title,:top_k*2]

    similar_indexes = similar_indexes.reshape(-1)

    similar_indexes = similar_indexes[similar_indexes != movies_index_of_title]

    return movies.iloc[similar_indexes].sort_values(by=['popularity','year'],ascending=False)[:5]

In [66]:
recom_movies = recom('Mulan')
recom_movies[['title','year','str_genres','popularity','str_keywords','overview']]

MulanÏùò Ïû•Î•¥ : Adventure, Animation, Family

,title,year,str_genres,popularity,str_keywords,overview
8313,Zootopia,2016,"Adventure, Animation, Comedy, Family",26.024868,"3d, animals, anthropomorphism, conspiracy, dis...","Determined to prove herself, Officer Judy Hopp..."
8314,Zootopia,2016,"Adventure, Animation, Comedy, Family",26.024868,"3d, animals, anthropomorphism, conspiracy, dis...","Determined to prove herself, Officer Judy Hopp..."
4474,Kill Bill: Vol. 1,2003,"Action, Crime",25.261865,"blood, bride, coma, female yakuza, gore, japan...",An assassin is shot at the altar by her ruthle...
5518,Charlie and the Chocolate Factory,2005,"Adventure, Comedy, Family, Fantasy",22.038405,"based on novel, candy, chocolate, factory work...",A young boy wins a tour through the most magni...
6950,Prince of Persia: The Sands of Time,2010,"Action, Adventure, Fantasy, Romance",18.459955,"armageddon, based on video game, brother again...",A rogue prince reluctantly joins forces with a...